* {
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}

header{
	/* background-size:cover; */
	/* height:100px; */
	 /* width: 100%; */
  /* z-index: auto; */
	/* position: absolute; */
  margin-top: -5%;
	margin-left: 28%;
  z-index: 10;
}

/* .titulo{
  margin-top: -15%;
	margin-left: 20%;
 
} */

.container-select {
  
  display: flex;
  flex-flow: column nowrap;
  background: rgba(128, 128, 128, 0.459);
  background-blend-mode: multiply,multiply;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

label {
  text-align: left;
  /* color: white; */
  font-size: 19px;
  -webkit-text-fill-color: white;
  font-family: "Palette Mosaic", cursive;
}

body {
  /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
  background-image: url(../img/fondo-portal.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* color: black; */
}

.container {
  margin-top: -5%;
  padding-left: 10rem;
  padding-top: 0px;
  padding-right: 0px;
}

.tarjetas {
  perspective: 1000px;
  height: 300px;
  width: 230px;
  border: solid 4px rgb(0, 204, 255);
  box-shadow: rgb(255, 115, 0) 0px 0px 10px;
  border-radius: 20px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  /* background: #f5f5aa; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}


.tarjetas:hover {
  border: solid 4px rgb(0, 162, 255);
  box-shadow: rgb(0, 174, 255) 0px 0px 20px;
  transform: rotateY(180deg);
}

.front-card {
  margin-top: -10%;
  height: 300px;
  /* width: 190px; */
  backface-visibility: hidden;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 40%;
  /* align-items: center; */
  /* justify-content: center; */
}


.front-card h1 {
  /* margin-top: 10px; */
  font-size: 18px;
  font-family: "Palette Mosaic", cursive;
  text-align: center;
  /* justify-content: space-around; */
}

.back-card {
  height: 250px;
  /* width: 190px; */
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-flow: column nowrap;
  /* border-radius: 40%; */
  justify-content: space-around;
  /* position:center; */
  /* justify-content: center; */
  margin-top: -280px;
}

/* .back-card h1, */
h2,
h3,
h4 {
  margin-top: -20px;
  font-size: 13px;
  font-family: "Palette Mosaic", cursive;
}

.lot-articles {
  
  display: flex;
  flex: 2 1 50%;
  flex-flow: row wrap;
}

.articles {
 
  display: flex;
  flex: 2 1 auto;
  flex-flow: row wrap;
  justify-content:center
}

/* .footer {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 12rem;
  } */
/* .footer { */
  /* background: #8cba51; */
   /* background: #eeeeee; */
/* } */


.image {
  border-radius: 40%;
  flex: 3 1 30%;
  /* height: 180px; */
  /* width: 180px; */
  /* position: relative; */
}





.pie {
  background: #fff3af73;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  font-family: "Palette Mosaic", cursive;
}

@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .curious-data {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 600px) {
  .lot-articles {
    flex-direction: column;
  }
}

