/* modifica todo el contenido */
* {
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}

 /* estilo del filtro  */
.container-select {
  background-color: rgba(128, 128, 128, 0.522);
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  
}
/* etiquetas del filtro */
label {
  text-align: left;
  color: white;
  font-family: "Palette Mosaic", cursive;
}

/* imagen de fondo  */
body {
  background-image: url(../img/fondo-portal.png); 
  background-size: cover;
  background-attachment: fixed;
  
}
/* container padre (principal) */
.container {
  padding-left: 10rem;
  padding-top: 0px;
  padding-right: 0px;
}

/* estilo de tarjetas */
.tarjetas {
  perspective: 1000px;
  height: 300px;
  width: 190px;
  border: solid 4px rgb(0, 204, 255);
  box-shadow: rgb(255, 115, 0) 0px 0px 10px;
  border-radius: 20px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  background-color: #FFF7AE;
}

/* efecto tarjetas */
.tarjetas:hover {
  border: solid 4px rgb(0, 162, 255);
  box-shadow: rgb(255, 115, 0) 0px 0px 10px;
  transform: rotateY(180deg);
}


/* tarjeta parte frontal */
.front-card {
  margin-top: -10%;
  height: 300px;
  backface-visibility: hidden;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 40%;
}


.front-card h1 {
  font-size: 15px;
  font-family: "Palette Mosaic", cursive;
  text-align: center;
}

.back-card {
  height: 250px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-top: -280px;
}

h2,
h3,
h4 {
  padding: -20px;
  margin-top: -20px;
  font-size: 14px;
  font-family: "Palette Mosaic", cursive;
}

.logos{
  display: flex;
  align-items: center;
}

.logo {
  height: 141px;
  width: 399px;
  position: absolute;
  left: 470px;
}


.lot-articles {
  display: flex;
  flex: 4 4 50%;
  flex-flow: row wrap;
}

.articles {
  display: flex;
  flex: 4 1 auto;
  flex-flow: row wrap;
  justify-content:center
}

.footer {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 12rem;
  }

.image {
  border-radius: 30%;
  flex: 3 1 40%;
  
}


.pie {
  background-color: rgba(128, 128, 128, 0.522);
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  font-family: "Palette Mosaic", cursive;
}

@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .curious-data {
    display: flex;
    justify-content: center;
  }
}

@media all and (max-width: 600px) {
  .lot-articles {
    flex-direction: column;
  }
}